@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400&display=swap');
$font-family: 'Poppins', sans-serif;
$accent-color: #61cefa;
$dark-accent-color: #4469EE;
$border-radius: 20px;
$font-color: #2E2E2E;
$opposite-font-color: #ffffff;
$inputHeight: 40px;

* {
  font-family: $font-family;
  //overflow: hidden;
  //border: 1px solid red;
}

body {
  background: linear-gradient(135deg, rgba(168,242,229,1) 0%, rgba(97,206,250,1) 100%) fixed;
  background-repeat: no-repeat;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

@mixin bgImages($height, $left, $right, $top, $bottom, $rot) {
  position: absolute;
  width: auto;
  z-index: -5;
  height: $height;
  left: $left;
  right: $right;
  top: $top;
  bottom: $bottom;
  transform: rotate($rot);
}

.bg {
  @include bgImages(500px, 300px, 0, 20px, 0, 45deg);
}
.bg2 {
  @include bgImages(350px, 10px, 0, 450px, 0, 130deg);
}

@media only screen and (max-width: 768px) {
  .bg {
    display: none;
  }
  .bg2 {
    display: none;
  }
}