@import "./base.scss";

.weather {
  background-color: rgba(255, 255, 255, 0.363);
  backdrop-filter: blur(5px);
  border-radius: $border-radius;
  margin-top: 1em;
  padding: 2em;
  position: relative;
  overflow: hidden;

  .loadingDiv {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }

  .title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-style: italic;
    font-weight: bold;
  }

  .headers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .form {
      display: flex;
      align-items: center;
    }
    .metric {
      p {
        margin: 0;
      }
    }
  }

  .weatherList {
    display: flex;
    list-style: none;
    padding: 0;
    .listItem {
      width: 20%;
      text-align: center;
      padding: 20px;
      color: $font-color;
      border-radius: $border-radius;
      filter: drop-shadow(4px 4px 2px rgba(0,0,0,0.1));    
      margin: 0 10px;
      transition: 0.2s ease-in-out;
      cursor: pointer;
      background: radial-gradient(circle at bottom left, white 50%, $dark-accent-color 50%);
      background-size: 200% 190%;
      background-position:bottom left;
      transition: all 0.75s ease;


      &:hover {
        transform: scale(1.05);
        //background-color: $dark-accent-color;
        background-position:top right;

        .backCard { 
          display: unset;
          color: white;
        }
        .frontCard {
          display: none;
        }
      } 

      .frontCard {
        display: unset;
      }

      .backCard {
        display: none; 
        transition: 0.75s all ease;
        img {
          height: 60px;
          width: auto;
        }
      }
    }

  }

  .dataChanger {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;

    .dataInputs {
      display: flex;
      flex-direction: row;

      .dataAdder {
        margin: auto 10px;
      }
    }
  }
  .tracker {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    .temps {
      display:flex;
      flex-direction: row;
      margin: 0 auto;

      p {
        padding: 0 10px;
        display: flex;
        text-align: center;
      }
    }
  }

  .dataAdder {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
  }

}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderText {
  font-weight: bold;
}

.slider {
  position: absolute;
  cursor: pointer;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background-color: #ccc;

  &:before {
    position: absolute;
    content: "";
    text-align: center;
    height: 30px;
    width: 30px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.25s;
  }
}


input:checked + .slider {
  background-color: $accent-color;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 20px;
}

@media only screen and (max-width: 770px) {
  .weather {
    padding: 1em;

    .weatherList {
      flex-direction: column;
      align-items: center;

      .listItem {
        width: 60%;
        margin-bottom: 1em;
        background-size: 200% 175%;

        .iconSvg {
          width: 150px;
          height: auto;
        }
      }
    }

    .headers {
      flex-direction: column;
      align-items: center;
      div {
        margin: 1em auto;
      }
    }

    .dataChanger {
      .dataInputs {
        flex-direction: column;

        .dataAdder {
          margin: 10px 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 550px) and (max-width: 769px)  {
  .weather {
    .weatherList{
      .listItem {
        width: 40%;
      }
    }
  }
}

// only for Galaxy Fold
@media only screen and (max-width: 280px) {
  #weatherForm {
    display: flex;
    width: 90%;
    justify-content: center;
  }

  .weather {
    input {
      margin-bottom: 5px;
    }
    button {
      margin-left: 0;
    }
    .dataAdder {
      flex-direction: column;
    }
  }
}
